@charset "UTF-8";


@media screen and (max-width: 1025px){
html:not(.page--main, .page--stories-detail, .page--list) .container_sq {
    margin-bottom: 140px;
}}
html:not(.page--main, .page--stories-detail, .page--list) .container_sq {
    margin-bottom: 200px;
}
.container_sq {
    margin-top: 0;
    padding-top: 0;
}
@media screen and (max-width: 1025px){
.container_sq {
    margin-top: 50px;
    min-height: calc(100vh - 140px - 60px);
}}
.container_sq {
    /* padding-top: 80px; */
    width: 100%;
    min-height: 787px;
    height: auto;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

* {
    box-sizing: border-box;
}


@media (max-width: 1024px){
.order_confirmation.center_wrap.cart_wrapper {
    padding-top: 95px;
}}
.order_confirmation.center_wrap.cart_wrapper {
    padding-top: 155px;
}
.center_wrap.cart_wrapper {
    padding-top: 169px;
}
@media (max-width: 414px){
.mo_order_confirm {
    padding-top: 21px !important;
}}
@media (max-width: 414px){
.order_max-width344 {
    max-width: 344px;
}}

.center_wrap {
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

@media (max-width: 414px){
.order_confirmation .contentswrap_top {
    margin-top: 0;
}}
.order_confirmation .center_wrap {
    max-width: 440px;
}
@media (max-width: 414px){
.order_confirmation .center_wrap {
    max-width: 344px;
}}


@media (max-width: 414px){
.order_confirmation .content-wrap {
    margin: 0 15px;
}}
@media (max-width: 767px){
.content-wrap {
    min-height: auto;
    margin: 0 auto 50px;
}}
.content-wrap {
    margin: 0 auto;
    max-width: 1420px;
    position: relative;
    min-height: 700px;
}
@media (max-width: 414px){
.content-wrap {
    min-height: auto;
    margin: 0;
}}
.order_text_left {
    text-align: left;
}

.order_confirmation .head {
    margin: 0 0 75px;
}
@media (max-width: 414px){
.order_confirmation .head {
    margin: 0 0 65px !important;
}}

.order_p_b28 {
    padding-bottom: 28px;
}
.font--15 {
    font-size: 15px;
}
.font--bd {
    font-weight: 700;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 10px;
}


.order_line_height {
    line-height: 1.92;
}

.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}

.order_confirmation .head .action {
    margin: 20px 0 0;
}


@media (max-width: 414px){
.order_confirmation .head .button {
    max-width: 100%;
}}
@media (max-width: 767px){
.order_confirmation .head .button {
    max-width: 100%;
}}
.order_confirmation .head .button {
    display: block;
    max-width: 215px;
    border: 1px solid #343434;
    line-height: 38px;
}
.btn.font--kr, .font--kr.button {
    font-family: "SDGothicNeo";
}
@media (max-width: 414px){
.button {
    height: 40px !important;
    padding: 0 !important;
    line-height: 40px !important;
}}
.btn, .button {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

a {
    background: transparent;
}

.info_customer .id_order {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px){
.info_customer .id_order a {
    display: none;
}}
.info_customer .id_order a {
    font-size: 12px;
    font-weight: normal;
    border-bottom: 1px solid #343434;
}
html, body, a, a:hover {
    color: #343434;
}

@media (max-width: 414px){
.order_p_b18 {
    padding-bottom: 18px;
}}

.order_p_b7 {
    padding-bottom: 7px;
}
.order_confirmation .label {
    color: #343434;
    text-align: left;
    display: block;
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    line-height: 24px;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.info_shipment {
    margin: 25px 0 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 414px){
.info_shipment {
    margin-bottom: 11px !important;
}}

.info_shipment .field {
    /* width: 50%; */
    text-align: left;
    margin: 0 0 25px;
    padding: 0 64px 0 0;
}


@media (max-width: 414px){
    .info_shipment .field {
        width: 50%;
    }
}

.payment_method .note_payment {
    margin: 25px 0 0;
}
@media (max-width: 414px){
.payment_method .note_payment {
    margin: 35px 0 0;
}}


.order_product {
    margin: 30px 0 0;
}


table {
    width: 100%;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    /* border: 0; */
    outline: 0;
    /* font-size: 100%; */
    /* background: transparent; */
}
table {
    max-width: 100%;
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

.font--md, .font--en.font--bd {
    font-weight: 500;
}

.order_product th.image {
    min-width: 80px;
    text-align: left;
    width: 80px;
}
.cart_wrapper th, .cart_wrapper td {
    border: 0;
}
.order_product th {
    border-bottom: 1px solid #858585;
    text-align: left;
    width: 25%;
    font-size: 13px;
    /* font-weight: normal; */
    padding: 6px 0 20px 0;
}
.order_product th, .order_product td {
    border: 0;
    padding: 20px 0 0;
    text-align: left;
}
table th, table .legal__table td, .legal__table table td, table td {
    border: 1px solid #000;
}

th {
    text-align: left;
}

td, th {
    padding: 0;
}


.order_product th.qty {
    /* width: 50px; */
    text-align: center;
}

.order_product th.subtotal {
    text-align: right;
}


img {
    display: block;
    width: 100%;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}


.order_product td.product {
    padding-left: 10px;
}

.order_product td.item.qty {
    text-align: center;
}


.order_product td.subtotal {
    text-align: right;
}


.order_summary {
    margin: 20px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid #858585;
}
@media (max-width: 414px){
.order_margin_b100 {
    margin-bottom: 100px;
}}
.order_margin_b174 {
    margin-bottom: 174px !important;
}

ul, ol {
    list-style: none;
}


ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.order_summary li.field_summary {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 414px){
    .order_summary li.field_summary .label {
        min-width: 80px;
    }
}

.order_summary li.field_summary .label {
    text-align: left;
    min-width: 95px;
}

@media (max-width: 414px){
    .order_confirmation .order_summary li.field_summary .value {
        min-width: 130px;
    }
}

@media (max-width: 414px){
    .order_summary li.field_summary .value {
        min-width: 130px;
    }
}
@media (max-width: 414px){
    .order_summary li.field_summary .value {
        min-width: 100px;
    }
}
.order_summary li.field_summary .value {
    min-width: 150px;
    text-align: right;
}
