@charset "UTF-8";

html:not(.page--main, .page--stories-detail, .page--list) .container_sq {
    margin-bottom: 200px;
}
.container_sq {
    margin-top: 0;
    padding-top: 0;
}
.container_sq {
    /* padding-top: 80px; */
    width: 100%;
    min-height: 787px;
    height: auto;
}
div, p, a {
    word-break: keep-all;
}
.container-1350.account {
    padding: 80px 50px 0px;
}
body .container-1350 {
    max-width: 1416px;
    margin: 0 auto;
    /* margin-top: 0px; */
    display: block;
    position: relative;
}
.contentswrap {
    /* padding: 174px 0 50px; */
    /* padding: 170px 0 174px; */
    font-size: 13px;
}
.contentswrap {
    border-top: 0 !important;
    margin-top: 0 !important;
}
.center_wrap {
    /* display: table; */
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* display: block; */
    text-align: center;
}
.ordercancel .account .contentswrap_top.order-pdtype01 {
    padding-top: 0;
}
@media (min-width: 1200px){
.contentswrap_top {
    margin-bottom: 80px;
}}
.account .edit-wrap {
    padding: 45px 0 0;
}
.text_l {
    text-align: left;
}

.account .head {
    margin-bottom: 45px;
}
.ordercancel-header {
    display: flex;
}
.ordercancel-description {
    margin-right: 24px;
    border-bottom: 1px solid #ccc;
    width: 50%;
    /* padding-bottom: 42px; */
    padding-bottom: 53px;
}
.ordercancel-description .order-number {
    margin-bottom: 32px;
    line-height: 25px;
}
.font--15 {
    font-size: 15px;
}
.font--md, .font--en.font--bd {
    font-weight: 500;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
.ordercancel-description .order-qty, .ordercancel-description .order-date {
    line-height: 25px;
}

.ordercancel-description .order-qty, .ordercancel-description .order-date {
    /* font-size: 13px; */
    /* font-family: 'SDGothicNeo'; */
    /* line-height: 1.92; */
    margin: 0;
}


.font--en.font--13 {
    font-size: 14px;
}
.ordercancel-actions {
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    border-bottom: 1px solid #ccc;
    margin-left: 24px;
}
.ordercancel-action {
    /* font-family: 'SDGothicNeo'; */
    display: inline-block;
    /* font-size: 13px; */
    text-decoration: underline;
}
.atag-line {
    border-bottom: 1px solid #343434 !important;
    text-decoration: none !important;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}

.ordercancel-info {
    display: flex;
}

.ordercancel-items {
    width: 50%;
    margin-right: 24px;
}
.ordercancel-item {
    position: relative;
    margin-bottom: 45px;
    text-align: left;
}
.ordercancel-items .items-button {
    margin-top: 48px;
}
[hidden], template {
    display: none;
}
.ordercancel-item-button.disable {
    background-color: #858585;
    border: 1px solid #858585;
}
.ordercancel-item-button {
    border: 1px solid #333;
    display: inline-block;
    width: 100%;
    max-width: 318px;
    height: 40px;
    line-height: 25px;
    background-color: #000000;
    color: #ffffff;
}

.ordercancel-announce {
    max-width: 604px;
    overflow: hidden;
    margin-top: 80px;
}
.text-style {
    line-height: 1.92;
    font-weight: 700 !important;
    margin-bottom: 1px;
    display: inline-block;
}
.sub-title {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.customercare-s-font2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.92 !important;
}
.ordercancel-list li {
    position: relative;
}
.ordercancel-list span {
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    text-align: center;
    line-height: 1.92;
}
.ordercancel-list em {
    display: block;
    padding-left: 16px;
    line-height: 1.92;
}

.footer-contents-text {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.margin_36 {
    margin-bottom: 36px;
}

.ordercancel-payment-info {
    width: 50%;
    margin-left: 24px;
}

.info-item {
    margin-bottom: 48px;
    display: flex;
    text-align: left;
}
.info-title {
    width: 183px;
    min-width: 183px;
    line-height: 25px;
}
.ordercancel-payment-info .info-item .info-detail {
    width: calc(100% - 183px);
}

.info-detail {
    line-height: 25px;
}



.item-info-box .item-image .item-img {
    max-height: 293px;
    -o-object-fit: contain;
    object-fit: contain;
}
.item-img {
    width: 100%;
}
.item-info-box .box_info {
    width: calc(100% - 216px);
    padding-left: 24px;
    position: relative;
}
.item-info-box .box_info .info_checkbox {
    display: flex;
    justify-content: space-between;
}
.item-description + .item-info-box {
    margin-top: 7px;
}
.item-info-box {
    display: flex;
    position: relative;
}
.info-detail > div:first-child {
    margin-top: 0;
}
.info-detail > div {
    display: flex;
    flex-wrap: wrap;
}
.info-detail > div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 12px;
    color: #000;
}
.ordercancel-payment-info .info-item .info-detail span {
    /* line-height: 1.92; */
    /* margin: 0; */
    flex: 1;
    line-height: 1.92;
    margin: 0;
}
.total-item {
    /* display: block; */
    width: 80px;
    /* max-width: 80px; */
    min-width: 80px;
    display: inline-block;
    max-width: 148px;
    font-weight: 500;
    padding-right: 5px;
    margin-bottom: 5px;
}

.total-detail {
    display: inline-block;
}
.total-detail {
    max-width: 158px;
    /* margin-left: 12px; */
}

.footer-contents-text {
    /* font-size: 13px; */
    /* font-weight: normal; */
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.92; */
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}

i, cite, em, var, address, dfn {
    font-style: normal;
}


/* 예진 추가 */
.order-status {
    line-height: 25px;
}