@charset "UTF-8";

/*나의 css*/

body > div.address_book.contentswrap.center_wrap.account.edit.kr.container-1350 > div.contentswrap_top.center_wrap > div {
	padding-bottom: 40%;
}
#addressFormKr > div.input-box.col-xs-margin-t-20 > div.button-group > button,
#postcodify_16970902276602460_button {
	color: white;
}


/*<!-- Korean address format --> 메뉴창*/


.container-1350.account {
    padding: 80px 50px 0px;
}
@media (max-width: 1024px){
    body .container-1350 {
        padding: 36px 20px 0px !important;
    }
}

body .container-1350 {
    max-width: 1416px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    position: relative;
}
.account {
    width: 100%;
    max-width: none;
}
@media (min-width: 768px){
.contentswrap {
    padding: 80px 50px 0px;
    font-size: 13px;
}
}
.contentswrap {
    padding: 80px 20px 0px;
    font-size: 12px;
}
.contentswrap {
    border-top: 0 !important;
    margin-top: 0 !important;
}
.center_wrap {
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

* {
    box-sizing: border-box;
}
@media (max-width: 1024px){
    .topnav {
        margin-bottom: 36px;
    }
}
.topnav {
    text-align: center;
    position: relative;
    margin-bottom: 65px;
    z-index: 51;
}
.topnav .topnav-left {
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (max-width: 1025px){
    .page_menu_item {
        display: inline-block;
        vertical-align: top;
        border-bottom: 1px solid transparent;
    }
}
.font--13 {
    font-size: 13px;  /* 메뉴 글자크기줄이는 것 .page_menu_item a  시작*/
}
.font--bd {
    font-weight: 700;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}




@media (min-width: 768px){
    .account .head .title, .account .page_nav .title, .topnav .topnav-left .title {
        font-size: 13px;
    }
}


.topnav .topnav-left .title {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
@media (min-width: 768px){
.page_menu_item a {
    font-size: 13px;
    
}
}
@media screen and (max-width: 1025px){
    .page_menu_item a {
        display: block;
        padding: 0;
        /* font-size: 13px; */
        line-height: 1.8;
    }
    }

/*.link_item>a 13pt만들기시작 글자크기 13만들기 시작 bold 주기 시작*/
.page_menu_item a {
    font-size: 13px;
    /* font-weight: bold; */
}
.link_item>a {
    position: relative;
    display: inline-block;
    font-size: 13px;
}
html, body, a, a:hover {
    color: #343434;
}
a {
    text-decoration: none;
    color: #000;
}



.font--15 {
    font-size: 13px; /*회원정보 글자크기*/
}


@media (min-width: 768px){
    .page_menu_item a {
        font-size: 13px;
    }
}

.font--15 {
    font-size: 15px;
}


.topnav .page_menu_items {
    display: flex;
    font-size: 0;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 0;
}


@media screen and (max-width: 1025px){
    .page_menu_items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.page_menu_items {
    display: block;
}

ul, ol {
    list-style: none;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}


.page_menu_item a {
    font-size: 13px;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}


@media screen and (max-width: 1025px){
    .page_menu_item+.page_menu_item {
        margin-top: 0;
    }
}

.page_menu_item a {
    font-size: 15px;
}

.font--15 {
    font-size: 13px;
}




@media screen and (max-width: 1025px){
    .page_menu_item.selected {
        border-bottom: 1px solid #000;
    }
}
.topnav .topnav-right {
    position: absolute;
    right: 0;
    top: 0;
}



/* topnav 닫아주기 시작*/ 


@media (min-width: 768px){
    .contentswrap_top {
        /* margin-bottom: 50px; */
    }
}


.account .edit-wrap {
    padding: 45px 0 0;
}

.edit-wrap, .register-wrap {
    text-align: left;
    padding: 0 20px;
    width: 100%;
}


.text_l {
    text-align: left;
}








/*문제의 옆메뉴!!!!!!!!!!!!!!!!!!!!!!!*/

@media (max-width: 1025px){
    .account .page_nav {
        width: auto;
        min-width: auto;
    }
}
@media (max-width: 1024px){
    .account .page_nav {
        left: 20px;
        padding-top: 50px;
    }
}
.account .page_nav {
    position: absolute;
    top: 101px;
    left: 50px;
    padding-top: 110px;
}
@media (max-width: 1025px){
    body .page_nav {
        padding: 0;
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 1024px){
    body .page_nav {
        left: 20px;
    }
}
body .page_nav {
    top: 117px;
    left: 0;
    padding-top: 178px;
}
@media (max-width: 1025px){
    .page_nav {
        padding-top: 0;
    }
}
.page_nav {
    top: 74px;
    padding-top: 100px;
    font-family: "GM_R", "Noto Sans", Helvetica, Arial, sans-serif !important;
}
.page_nav {
    text-align: left;
}
@media screen and (max-width: 1025px){
    .page_nav {
        position: static;
        margin: 90px auto 0;
        padding: 0;
        min-width: 768px;
        width: 60%;
    }
}

.page_nav {
    position: fixed;
    z-index: 10;
    top: 50px;
    left: 30px;
    padding-top: 100px;
}

@media (max-width: 1024px){
.account .page_nav .title {
    margin-bottom: 30px;
}
}

p {
    margin: 0 0 10px;
}



@media (max-width: 1025px){
    .account .page_nav .page_menu_items, .account .page_nav .page_menu_item {
        display: block;
    }
}




@media (max-width: 1025px){
    .account .page_nav .page_menu_list .page_menu_items .page_menu_item {
        margin: 0;
        border-bottom: none;
    }
}
@media (max-width: 1025px){
    .page_nav .page_menu_list .page_menu_items .page_menu_item {
        margin: 0 25px 0 0;
    }
}








@media (max-width: 1025px){
    .account .page_nav .page_menu_list .page_menu_items .page_menu_item a {
        display: inline-block;
        line-height: normal;
    }
}


.link_item>a {
    position: relative;
    display: inline-block;
    font-size: 15px;
}


/*<!-- todo: move when develop layout 주소록 시작 -->*/

.account .page_nav .page_menu_list .page_menu_items .page_menu_item + .page_menu_item {
    margin-top: 20px;
}

.account .page_nav .page_menu_list .page_menu_items .selected a {
    border-bottom: 0;
}

.page_menu_list .page_menu_items .selected a {
    border-bottom: 1px solid #2b2b2b;
}

@media screen and (max-width: 1025px){
.page_menu_item a {
    display: block;
    padding: 0;
    /* font-size: 13px; */
    line-height: 1.8;
}
}

.account .page_nav .page_menu_list .page_menu_items .selected a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    z-index: 1;
    height: 1px;
    border-bottom: 1px solid #343434;
}
*:before, *:after {
    box-sizing: border-box;
}




/*  좀 위험한거 들어옴 */


.account .center-content {
    margin: 63px auto 0;
}
.account .center-content--wide {
    max-width: 440px;
}
.account .center-content, .account .center-content .button-group, .account .center-content .btn {
    max-width: 318px;
}

/* 주소창이 없다면 <!-- not exist address -->*/

/*주소창 시작*/

input[type=text] {
    border: 1px solid #000;
}
input[type=text] {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc;
}
[hidden], template {
    display: none;
}
input {
    border: none;
    background: none;
    -webkit-appearance: none;
}
input {
    margin: 0;
    padding: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: top;
    letter-spacing: 0.05em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.address_book.address_add .box-group.box-group-child-2 .input-box, .address_book.address_add .box-group.box-group-child-2 .select-box {
    width: calc(50% - 5px);
}
.box-group.box-group-child-2 .input-box, .box-group.box-group-child-2 .select-box {
    width: calc(50% - 5.5px);
}
.box-group.box-group-child-2 > .list-box, .box-group.box-group-child-2 > .select-box, .box-group.box-group-child-2 > .input-box, .box-group.box-group-child-2 > .text-box {
    width: calc(50% - 5.5px);
}
.box-group .input-box, .box-group .select-box {
    float: left;
}
.input-box:not(.input-box-check), .select-box, .list-box {
    /* padding-bottom: 1.2em; */
    padding-bottom: 10px;
}
.box-group > .list-box, .box-group > .select-box, .box-group > .input-box, .box-group > .text-box {
    float: left;
}
.select-box, .input-box {
    position: relative;
}
.input_box, .input-box {
    text-align: left;
}

.address_book.address_add .input-box .input-label {
    line-height: 25px;
    margin-bottom: 5px !important;
    font-size: unset;
}
.input-box .input-label {
    text-align: left;
}


@media (max-width: 1200px){
    .input-box .input-label {
        margin-bottom: 5px !important;
    }
}

.input-label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    line-height: 25px;
}

.input-label {
    display: block;
    margin-bottom: 4px !important;
}


label {
    cursor: pointer;
    font-weight: normal;
}


label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
.address_book.address_add .input-box input[type=text] {
    padding: 0 15px;
    font-size: inherit;
    letter-spacing: normal;
}

.edit-wrap .input-box input[type="text"], .pw-popup input[type="password"] {
    border: 1px solid #000;
}

.center_wrap .edit-wrap .input-box input {
    height: 40px;
    line-height: 40px;
}
.input-box input[type="text"], .input-box input[type="password"], .input-box input[type="tel"], .input-box input[type="email"], .input-box input[type="number"], .input-box input[type="date"], .input-box input[type="search"], .input-box input[type="time"], .input-box input[type="url"] {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 0 11.4px;
    background: #fff;
    font-size: 13px;
    line-height: 33px;
    height: 33px;
    transform: translateZ(0);
    border-radius: 0mm;
}
.input-box input[type="text"], .input-box input[type="password"], .input-box input[type="tel"], .input-box input[type="email"], .input-box input[type="number"], .input-box input[type="date"], .input-box input[type="search"], .input-box input[type="time"], .input-box input[type="url"] {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 0 14px;
    background: #fff;
    font-size: 13px;
    line-height: 40px;
    height: 40px;
    transform: translateZ(0);
    border-radius: 0mm;
}

.padding_10 {
    padding: 10px;
}

.width_100 {
    width: 100%;
}

.address_book.address_add ._alert {
    display: inline-block;
    min-height: 15px;
    padding: 4px 0 0 1px;
    line-height: 1;
    color: var(--dangerColor1);
}
._alert {
    color: #ef480e;
    font-size: 11px;
}

.font--11 {
    font-size: 11px;
}

.address_book.address_add .box-group > .input-box + .input-box, .address_book.address_add .box-group > .select-box + .input-box, .address_book.address_add .box-group > .input-box + .select-box, .address_book.address_add .box-group > .select-box + .select-box {
    margin: 0 0 0 10px;
}

.box-group.box-group-child-2 > .list-box + .input-box, .box-group.box-group-child-2 > .list-box + .select-box, .box-group.box-group-child-2 > .list-box + .text-box, .box-group.box-group-child-2 > .list-box + .list-box, .box-group.box-group-child-2 > .select-box + .input-box, .box-group.box-group-child-2 > .select-box + .select-box, .box-group.box-group-child-2 > .select-box + .text-box, .box-group.box-group-child-2 > .select-box + .list-box, .box-group.box-group-child-2 > .text-box + .input-box, .box-group.box-group-child-2 > .text-box + .select-box, .box-group.box-group-child-2 > .text-box + .text-box, .box-group.box-group-child-2 > .text-box + .list-box, .box-group.box-group-child-2 > .input-box + .input-box, .box-group.box-group-child-2 > .input-box + .select-box, .box-group.box-group-child-2 > .input-box + .text-box, .box-group.box-group-child-2 > .input-box + .list-box {
    margin-left: 11px;
}
.address_book.address_add .select-box + .select-box, .address_book.address_add .select-box + .input-box, .address_book.address_add .select-box + .box-group, .address_book.address_add .input-box + .input-box, .address_book.address_add .input-box + .select-box, .address_book.address_add .input-box + .box-group, .address_book.address_add .box-group + .box-group, .address_book.address_add .box-group + .input-box, .address_book.address_add .box-group + .select-box {
    margin-top: 6px;
}
.box-group .select-box + .input-box, .box-group .input-box + .select-box, .box-group .select-box + .select-box, .box-group .input-box + .input-box {
    margin-top: 0;
}

.box-group > .input-box + .input-box, .box-group > .select-box + .input-box, .box-group > .input-box + .select-box, .box-group > .select-box + .select-box {
    margin-left: 11px;
}


.box-group > .list-box + .input-box, .box-group > .list-box + .select-box, .box-group > .list-box + .text-box, .box-group > .list-box + .list-box, .box-group > .select-box + .input-box, .box-group > .select-box + .select-box, .box-group > .select-box + .text-box, .box-group > .select-box + .list-box, .box-group > .text-box + .input-box, .box-group > .text-box + .select-box, .box-group > .text-box + .text-box, .box-group > .text-box + .list-box, .box-group > .input-box + .input-box, .box-group > .input-box + .select-box, .box-group > .input-box + .text-box, .box-group > .input-box + .list-box {
    margin-top: 0;
}

.select-box + .select-box, .select-box + .input-box, .select-box + .box-group, .input-box + .input-box, .input-box + .select-box, .input-box + .box-group, .box-group + .box-group, .box-group + .input-box, .box-group + .select-box {
    margin-top: 8px;
}

.list-box + .list-box, .list-box + .select-box, .list-box + .input-box, .list-box + .box-group, .list-box + .text-box, .list-box + .agreement-group, .select-box + .list-box, .select-box + .select-box, .select-box + .input-box, .select-box + .box-group, .select-box + .text-box, .select-box + .agreement-group, .input-box + .list-box, .input-box + .select-box, .input-box + .input-box, .input-box + .box-group, .input-box + .text-box, .input-box + .agreement-group, .text-box + .list-box, .text-box + .select-box, .text-box + .input-box, .text-box + .box-group, .text-box + .text-box, .text-box + .agreement-group, .box-group + .list-box, .box-group + .select-box, .box-group + .input-box, .box-group + .box-group, .box-group + .text-box, .box-group + .agreement-group, .agreement-group + .list-box, .agreement-group + .select-box, .agreement-group + .input-box, .agreement-group + .box-group, .agreement-group + .text-box, .agreement-group + .agreement-group {
    margin-top: 8px;
}


.input-label {
    display: block;
    /* font-size: 13px; */
    margin-bottom: 5px;
    /* font-family: 'SDGothicNeo'; */
    line-height: 25px;
}


.box-group:after {
    content: '';
    display: block;
    clear: both;
}

.margin_b4 {
    margin-bottom: 4px;
}


.col-xs-margin-t-20 {
    margin-top: 20px;
}

.padding_0 {
    padding: 0px;
}
.col-xs-margin-b-20 {
    margin-bottom: 20px;
}

.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px){
    .col-sm-padding-l-0 {
        padding-left: 0px;
    }
}
@media (min-width: 768px){
    .col-sm-padding-r-10 {
        padding-right: 10px;
    }
}
@media (min-width: 768px){
    .col-sm-9 {
        width: 75%;
    }
}


@media (min-width: 768px){
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
}
    
@media (min-width: 768px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
}

.address_book.address_add .input-box .post_address {
    margin-bottom: 21px;
}


/*<!-- 검색 기능을 표시할 <div>를 생성한다 -->*/

.address_book.address_add div.postcodify_search_form {
    font: unset;
}
div.postcodify_search_form {
    clear: both;
    margin: 12px;
    padding: 0;
    position: relative;
    font: 13px/160% "Malgun Gothic", "Gulim", sans-serif;
}

#postcodify div.postcodify_search_controls {
    margin-bottom: 0;
}

.address_book.address_add div.postcodify_search_controls {
    margin-bottom: 11px;
}

div.postcodify_search_controls {
    margin-bottom: 12px;
}


.postcodify_search_controls .keyword_label {
    display: none;
}


.address_book.address_add .input-box .postcode_search_form input {
    width: 70.5%;
}

.center_wrap .edit-wrap .input-box .postcode_search_form input {
    width: 70%;
}




.postcodify_search_controls > input {
    width: calc(100% - 130px);
}

.center_wrap .edit-wrap .input-box .postcode_search_form button {
    width: 120px;
    margin: 0 0 0 10px;
}

.btn.font--kr, .font--kr.button {
    font-family: "SDGothicNeo";
}
.gm-component__spinner-container {
    position: relative;
}
.search_button {
    text-align: center;
}
.btn-black {
    /* border: none; */
    background: #000 !important;
    color: #fff;
}

.btn, .button {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button {
    border: none;
    background: none;
   /* -webkit-appearance: none;*/
    cursor: pointer;
}

button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}
button {
    overflow: visible;
}


.address_book.address_add #postcodify ._alert {
    display: none;
}

#addressFormKr .agreement-group {
    margin-bottom: 37px;
}
.address_book.address_add .agreement-group {
    margin-top: 10px;
}

.agreement-group {
    margin-top: 12px;
    margin-bottom: 30px;
}


.input-box.input-box-check {
    display: flex;
    margin: 0 0 9px;
    font-family: "Unica77LLWeb", "SDGothicNeo", sans-serif;
    /* justify-content: flex-end; */
}

.input-box-check label, .input-box-check span, .input-box-check span a, .input-box-check span u {
    line-height: 1;
}
.input-box-check label {
    text-align: left;
    color: #000;
    line-height: 1;
    font-size: 12px;
    width: 100%;
    position: relative;
}

.input-box-check label {
    text-align: left;
    /* margin: 20px 0 11px; */
    color: #000;
    line-height: 1;
    font-size: inherit;
    width: 100%;
    position: relative;
}
.input-box-check label {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}

.input-box-check input[type="checkbox"] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
}
.input-box-check input[type="radio"], 
input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}


input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.address_book.address_add .agreement-group .input-box-check-layer {
    width: 15px;
    height: 15px;
    margin: -1px 12px 0 0;
}

.input-box-check-layer {
    position: relative;
    float: left;
    margin-right: 12px;
    margin-top: -1px;
}
.input-box-check-layer {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 11px;
}







.input-box-check-layer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #2b2e34;
    z-index: 1;
}
.input-box-check-layer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #2b2e34;
    z-index: 1;
} 

input[type=checkbox] ~ .input-box-check-layer:after {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    margin-top: -7.5%;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0.66);
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.66);
} 
.input-box-check-layer:after {
    opacity: 0;
}
.input-box-check-layer:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 9px;
    height: 9px;
    background: #000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
    opacity: 0;
     transition: opacity 0.15s ease-out; 
    transition: none;
}


.address_book.address_add .agreement-group .input-box-check span {
    width: calc(100% - 27px);
    line-height: 25px;
    top: -7px;
}
.input-box-check label > span {
    flex: 1;
    display: block;
    position: relative;
    line-height: 1.4;
    overflow: hidden;
    font-size: 14px;
    word-break: keep-all;
}
.input-box-check span {
    width: calc(100% - 27px);
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.input-box-check:after {
    content: '';
    display: block;
    clear: both;
}

.account .center-content .button-group {
    margin-right: auto;
    margin-left: auto;
}

.list-box + .button-group, .select-box + .button-group, .input-box + .button-group, .box-group + .button-group, .agreement-group + .button-group, .text-box + .button-group {
    margin-top: 38px;
}


.button-group:after {
    content: '';
    display: block;
    clear: both;
}



.contentswrap_top {
    /* margin-bottom: 50px; */
}


@media (min-width: 768px){
.contentswrap {
    padding: 80px 50px 0px
}
}

.account .center-content--wide {
    max-width: 440px !IMPORTANT;
}

/*
예인추가*/

input[type=checkbox]:checked ~ .input-box-check-layer:before {
    border-color: #000;
}
.input-box-check-layer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #2b2e34;
    z-index: 1;
}

.input-box-check input[type="checkbox"]:checked + .input-box-check-layer:after, .input-box-check input[type="radio"]:checked + .input-box-check-layer:after {
    opacity: 1;
}
input[type=checkbox] ~ .input-box-check-layer:after {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    margin-top: -7.5%;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.66);
}
.input-box-check-layer:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 9px;
    height: 9px;
    background: #000;
    transform: translateZ(0);
    z-index: 2;
    opacity: 0;
    /* transition: opacity 0.15s ease-out; */
    transition: none;
}


input[type=checkbox]:checked ~ .input-box-check-layer:before {
    border-color: #000;
}
.input-box-check-layer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #2b2e34;
    z-index: 1;
}


.input-box-check input[type="radio"], .input-box-check input[type="checkbox"] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.input-box-check input[type="checkbox"]:checked + .input-box-check-layer:after {
    opacity: 1;
}
input[type=checkbox]:checked ~ .input-box-check-layer:before {
    border-color: #000;
}