@charset "UTF-8";

html:not(.page--main, .page--stories-detail, .page--list) .container_sq {
    margin-bottom: 200px;
}
.container_sq {
    margin-top: 0;
    padding-top: 0;
}
.container_sq {
    /* padding-top: 80px; */
    width: 100%;
    min-height: 787px;
    height: auto;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}
.container-1350.account {
    padding: 80px 50px 0px;
}
body .container-1350 {
    max-width: 1416px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    position: relative;
}
.account {
    width: 100%;
    max-width: none;
}
@media (min-width: 768px){
.contentswrap {
    padding: 80px 50px 0px;
    font-size: 13px;
}}
.contentswrap {
    border-top: 0 !important;
    margin-top: 0 !important;
}
.topnav {
    text-align: center;
    position: relative;
    margin-bottom: 65px;
    z-index: 51;
}

.topnav .topnav-left {
    position: absolute;
    left: 0;
    top: 0;
}
.font--15 {
    font-size: 15px;
}
.font--bd {
    font-weight: 700;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
@media (min-width: 768px){
    .account .head .title, .account .page_nav .title, .topnav .topnav-left .title {
        font-size: 13px;
    }
}
.topnav .topnav-left .title {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.link_item>a {
    position: relative;
    display: inline-block;
    font-size: 15px;
}
html, body, a, a:hover {
    color: #343434;
}
a {
    text-decoration: none;
    color: #000;
}
.link_item>a:after {
    content: '';
    display: block;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
*:before, *:after {
    box-sizing: border-box;
}
.topnav .page_menu_items {
    display: flex;
    font-size: 0;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 0;
}
ul, ol {
    list-style: none;
}
@media (min-width: 768px){
    .page_menu_item a {
        font-size: 13px;
    }
}
.font--rg {
    font-weight: normal;
}

.topnav .page_menu_items .page_menu_item.link_item > a:after {
    position: absolute;
    bottom: -3px;
    background: #343434;
}

.topnav .page_menu_items .page_menu_item.selected a:before {
    border-bottom: 1px solid #343434;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1px;
    z-index: 1;
}


.topnav .topnav-right {
    position: absolute;
    right: 0;
    top: 0;
}

.center_wrap {
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.account .edit-wrap {
    padding: 45px 0 0;
}
.edit-wrap, .register-wrap {
    text-align: left;
    padding: 0 20px;
    width: 100%;
}
.account .page_nav {
    position: absolute;
    top: 101px;
    left: 50px;
    padding-top: 110px;
}
.page_nav {
    top: 74px;
    padding-top: 100px;
    font-family: "GM_R", "Noto Sans", Helvetica, Arial, sans-serif !important;
}
.page_nav {
    text-align: left;
}

.account .page_nav .title {
    margin-bottom: 45px;
}

.page_menu_pc_items {
    display: block;
}
.page_menu_items {
    display: block;
}

.font--13 {
    font-size: 13px;
}

.page_menu_item a {
    font-size: 15px;
}

.account .page_nav .link_item > a:after {
    position: absolute;
    bottom: -4px;
    background: #343434;
}

.account .page_nav .page_menu_list .page_menu_items .page_menu_item + .page_menu_item {
    margin-top: 20px;
}

.account .page_nav .page_menu_list .page_menu_items .selected a {
    border-bottom: 0;
}

.account .page_nav .page_menu_list .page_menu_items .selected a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    z-index: 1;
    height: 1px;
    border-bottom: 1px solid #343434;
}


.account .center-content {
    margin: 63px auto 0;
}
.account .center-content, .account .center-content .button-group, .account .center-content .btn {
    max-width: 318px;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}


input {
    border: none;
    background: none;
    -webkit-appearance: none;
}
.select-box, .input-box {
    position: relative;
}
.input_box, .input-box {
    text-align: left;
}
.reset_password .input-box .input-label {
    line-height: 25px;
    margin-bottom: 5px !important;
}
.input-box .input-label {
    text-align: left;
}
.input-label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
    line-height: 25px;
}
.center_wrap .edit-wrap .input-box input {
    height: 40px;
    line-height: 40px;
}
.reset_password .input-box .show-pwd {
    right: 11px;
}
.input-box .show-pwd {
    position: absolute;
    top: 37px;
    right: 10px;
    width: 25px;
    height: 25px;
    color: #343434;
    font-size: 14px;
}
button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.viewpass.eye-slash {
    background: url(https://web-resource.gentlemonster.com/assets/img/icon/non_visible.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 12px;
    display: block;
    margin: 0 auto;
}
.reset_password .input-box ._alert {
    display: inline-block;
    min-height: 15px;
    padding: 4px 0 0 1px;
    line-height: 1;
    color: var(--dangerColor1);
}
._alert {
    color: #ef480e;
    font-size: 11px;
}
.reset_password .select-box + .select-box, .reset_password .select-box + .input-box, .reset_password .select-box + .box-group, .reset_password .input-box + .input-box, .reset_password .input-box + .select-box, .reset_password .input-box + .box-group, .reset_password .box-group + .box-group, .reset_password .box-group + .input-box, .reset_password .box-group + .select-box {
    margin-top: 2px;
}


.input-box input[type="text"], .input-box input[type="password"], .input-box input[type="tel"], .input-box input[type="email"], .input-box input[type="number"], .input-box input[type="date"], .input-box input[type="search"], .input-box input[type="time"], .input-box input[type="url"] {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 0 11.4px;
    background: #fff;
    font-size: 13px;
    line-height: 33px;
    height: 33px;
    transform: translateZ(0);
    border-radius: 0mm;
}

input[type=password] {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc;
}

.pw-condition-box#pw_pattern {
    text-align: left;
    font-family: "SDGothicNeo";
}
.reset_password .pw-condition-box {
    margin-top: 14px;
}

.reset_password .pw-condition-box .desc {
    line-height: 25px;
}


.reset_password .pw-condition-box .pw-conditions {
    padding-top: 11px;
    letter-spacing: -0.3px;
    color: #858585;
}
.reset_password .pw-condition-box .pw-conditions > div {
    padding-bottom: 0;
    line-height: 21px;
}
.reset_password .pw-condition-box .pw-conditions > div > .icon {
    display: inline-block;
    width: 13px;
    margin-right: 7px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.reset_password .pw-condition-box .pw-conditions > div > .icon .fa.fa-times::before {
    background-image: url(https://web-resource.gentlemonster.com/assets/img/icon/false.svg);
}
.reset_password .pw-condition-box .pw-conditions > div > .icon .fa::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 11px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*
예인추가*/

#button_reset_password {
    width: 100%;
    max-width: 100%;
    margin-top: 48px;
}
.account .center-content, .account .center-content .button-group, .account .center-content .btn {
    max-width: 318px;
}
.btn.font--kr, .font--kr.button {
    font-family: "SDGothicNeo";
}
.btn-black {
    /* border: none; */
    background: #000 !important;
    color: #fff;
}
.btn, .button {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    box-sizing: border-box;
    line-height: normal;
}
* {
    box-sizing: border-box;
    line-height: normal;
}
* {
    box-sizing: border-box;
}


body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}
* {
    box-sizing: border-box;
    line-height: normal;
}
* {
    box-sizing: border-box;
}