@charset "UTF-8";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 
/* 공식사이트에서 복붙한 것 시작 */

/* 카테고리 시작 */
html:not(.page--main, .page--stories-detail, .page--list) .container_sq {
    margin-bottom: 200px;
}
.container_sq {
    margin-top: 0;
    padding-top: 0;
}
.container_sq {
    /* padding-top: 80px; */
    width: 100%;
    min-height: 787px;
    height: auto;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}


.container-1350.account {
    padding: 80px 50px 0px;
}
body .container-1350 {
    max-width: 1416px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    position: relative;
}
.account {
    width: 100%;
    max-width: none;
}
@media (min-width: 768px){
.contentswrap {
    padding: 80px 50px 0px;
    font-size: 13px;
}}
.contentswrap {
    padding: 80px 20px 0px;
    font-size: 12px;
}
.contentswrap {
    border-top: 0 !important;
    margin-top: 0 !important;
}

body .container-1350 {
    max-width: 1416px;
    margin: 0 auto;
    margin-top: 0px;
    display: block;
    position: relative;
}

.topnav {
    text-align: center;
    position: relative;
    margin-bottom: 65px;
    z-index: 51;
}

.topnav .topnav-left {
    position: absolute;
    left: 0;
    top: 0;
}



.font--15 {
    font-size: 15px;
}

.font--bd {
    font-weight: 700;
}

.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}


@media (min-width: 768px){
    .account .head .title, .account .page_nav .title, .topnav .topnav-left .title {
        font-size: 13px;
    }
}



.topnav .topnav-left .title {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
@media (min-width: 768px){
.page_menu_item a {
    font-size: 13px !important;
}}
.page_menu_item a {
    font-size: 15px;
}
.link_item>a {
    position: relative;
    display: inline-block;
    font-size: 15px;
}
html, body, a, a:hover {
    color: #343434;
}
a {
    text-decoration: none;
    color: #000;
}

a {
    background: transparent;
}

.link_item>a:after {
    content: '';
    display: block;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
*:before, *:after {
    box-sizing: border-box;
}


.topnav .page_menu_items {
    display: flex;
    font-size: 0;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 0;
}
.page_menu_pc_items {
    display: block;
}
.page_menu_items {
    display: block;
}
ul, ol {
    list-style: none;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 768px){
    .page_menu_item a {
        font-size: 13px;
    }
}

.font--rg {
    font-weight: normal;
}


.topnav .page_menu_items .page_menu_item.selected a:before {
    border-bottom: 1px solid #343434;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 1px;
    z-index: 1;
}



.topnav .page_menu_items .page_menu_item.link_item > a:after {
    position: absolute;
    bottom: -3px;
    background: #343434;
}


.topnav .topnav-right {
    position: absolute;
    right: 0;
    top: 0;
}




/* 카테고리 끝 */




/* 본문 시작 */
/* 계정설정 카테고리(좌측) 시작 */
@media (min-width: 768px){
.contentswrap_top {
    /* margin-bottom: 50px; */
}}
.contentswrap_top {
    /* margin-bottom: 50px; */
}


.account .edit-wrap {
    padding: 45px 0 0;
}
.edit-wrap, .register-wrap {
    text-align: left;
    padding: 0 20px;
    width: 100%;
}
.text_l {
    text-align: left;
}





.account .page_nav {
    position: absolute;
    top: 101px;
    left: 50px;
    padding-top: 110px;
}
body .page_nav {
    top: 117px;
    left: 0;
    padding-top: 178px;
}
.page_nav {
    top: 74px;
    padding-top: 100px;
    font-family: "GM_R", "Noto Sans", Helvetica, Arial, sans-serif !important;
}
.page_nav {
    text-align: left;
}
.page_nav {
    position: fixed;
    z-index: 10;
    top: 50px;
    left: 30px;
    padding-top: 100px;
}


.account .page_nav .title {
    margin-bottom: 45px;
}

p {
    margin: 0 0 10px;
}

.font--13 {
    font-size: 13px;
}


.account .page_nav .page_menu_list .page_menu_items .selected a {
    border-bottom: 0;
}
.page_menu_list .page_menu_items .selected a {
    border-bottom: 1px solid #2b2b2b;
}



.account .page_nav .page_menu_list .page_menu_items .selected a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    z-index: 1;
    height: 1px;
    border-bottom: 1px solid #343434;
}
.account .page_nav .link_item > a:after {
    position: absolute;
    bottom: -4px;
    background: #343434;
}

.account .page_nav .page_menu_list .page_menu_items .page_menu_item + .page_menu_item {
    margin-top: 20px;
}


/* 계정설정 카테고리(좌측) 끝 */


/* 계정설정 본문(우측) 시작 */
.account .center-content {
    margin: 63px auto 0;
}

.account .center-content, .account .center-content .button-group, .account .center-content .btn {
    max-width: 318px;
}

.select-box, .input-box {
    position: relative;
}
.input_box, .input-box {
    text-align: left;
}

.check_pass .input-box .password {
    margin-bottom: 5px;
    line-height: 25px;
}

.center_wrap .edit-wrap .input-box input {
    height: 40px;
    line-height: 40px;
}
.input-box input[type="text"], .input-box input[type="password"], .input-box input[type="tel"], .input-box input[type="email"], .input-box input[type="number"], .input-box input[type="date"], .input-box input[type="search"], .input-box input[type="time"], .input-box input[type="url"] {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 0 11.4px;
    background: #fff;
    font-size: 13px;
    line-height: 33px;
    height: 33px;
    transform: translateZ(0);
    border-radius: 0mm;
}
input[type=password] {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc;
}
.padding_10 {
    padding: 10px;
}
.width_100 {
    width: 100%;
}
input {
    border: none;
    background: none;
    -webkit-appearance: none;
}

input {
    margin: 0;
    padding: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: top;
    letter-spacing: 0.05em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

#button_reset_password {
    width: 100%;
    max-width: 100%;
    margin-top: 48px;
    color:white;
}

.btn.font--kr, .font--kr.button {
    font-family: "SDGothicNeo";
}
.btn-black {
    /* border: none; */
    background: #000 !important;
    color: #fff;
}
.btn, .button {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}



button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}

button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}


/* 계정설정 본문(우측) 끝 */
/* 본문 끝 */
/* 공식사이트에서 복붙한 것 끝 */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* 내가 추가한 곳 */
.account .page_nav {
    position: absolute;
    top: 101px;
    left: 0px;
    padding-top: 110px;
}


body > div.container_sq > div > div.account_setting.contentswrap.center_wrap.account.edit.kr.container-1350 > div > div > div.center-content > div > p {
    margin-bottom: 5px;
}











/*예진 추가*/
@media (max-width: 479px){
.check_pass .center_wrap .edit-wrap {
    padding: 0;
}}