@charset "UTF-8";

svg#레이어_1 {
	margin: 0 !important;
}

.n-arrow {

	border: none !important;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 
/* 공식사이트에서 복붙한 것 시작 */

/* 카테고리 시작 */

.category {
    position: relative;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background: #fff !important;
    z-index: 4;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

* {
    box-sizing: border-box;
}



.category__wrap {
    width: 882px;
    margin: 0px auto;
}
.relative {
    position: relative;
}

.category__nav[aria-disabled="true"] {
    opacity: 0 !important;
    visibility: hidden !important;
}
.category__nav--prev {
    left: -34px;
}
.category__nav {
    opacity: 0;
    visibility: hidden;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 33px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    -ms-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    width: 100%;
}


.category__container.on {
    opacity: 1;
}
.category__container {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.category__list.inline {
    white-space: nowrap;
}
.text-center {
    text-align: center;
}

.inline {
    font-size: 0;
}

ul, ol {
    list-style: none;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}


@media (max-width: 1024px){
.category__item:first-child {
    margin-left: 20px;
}}
@media (max-width: 1023px){
.category__item {
    width: 68px !important;
    margin: 0 2.5px;
}}
.category__item {
    min-width: 68px;
    width: 80px !important;
    margin: 0 9px;
    padding: 0 !important;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.inline > * {
    display: inline-block;
    vertical-align: top;
}


.category__link {
    cursor: pointer;
}
html, body, a, a:hover {
    color: #343434;
}
a {
    text-decoration: none;
    color: #000;
}
a {
    background: transparent;
}

.category__item.current .category__thumbnail {
    border-color: #000;
}
.category__thumbnail {
    box-sizing: border-box;
    display: block;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid transparent;
    overflow: hidden;
    -webkit-transition: border-color 0.6s ease;
    -ms-transition: border-color 0.6s ease;
    transition: border-color 0.6s ease;
    margin-bottom: 7px;
}

.category__img {
    width: 100%;
    height: auto;
    border-radius: 50% !important;
}
img {
    display: block;
    width: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}


.category__name {
    color: #343434 !important;
    white-space: break-spaces;
    line-height: 1.4;
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
}
.category__name {
    font-family: "Unica77LLWeb", "SDGothicNeo", sans-serif;
}
.font--11 {
    font-size: 11px;
}
.font--md, .font--en.font--bd {
    font-weight: 500;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}


.category__container.swiper-container-horizontal ~ .category__nav {
    visibility: visible;
}

.category__nav--next {
    right: -34px;
}

/* 카테고리 끝 */



/* 필터 시작 */

.content-top-dummy {
    position: -webkit-sticky;
    position: sticky;
    top: var(--header);
    z-index: 3;
    width: 100%;
    height: 66px;
}



.content-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.content-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 66px;
    background: #fff;
    padding: 0px 20px;
}


.content-top::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--headerCont);
    background: #fff;
    z-index: -1;
}

*:before, *:after {
    box-sizing: border-box;
}


.hidden {
    display: block !important;
    visibility: visible !important;
    overflow: hidden;
    border: 0;
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}


h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

.content-top .page-title {
    font-family: "Unica77LLWeb", "SDGothicNeo", sans-serif;
}
.font--16 {
    font-size: 16px;
}

.font--bd {
    font-weight: 700;
}

.content-top__right {
    margin-left: auto;
}

.float-right {
    float: right;
}


button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}

button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.filter-toggle .filter-toggle__icon {
    /* margin-top: 1px; */
}
.filter-toggle__icon {
    width: 21px;
    height: 8px;
    margin: 5px 8px 0 0;
}

.filter-toggle__bar {
    width: 100%;
    height: 1px;
    background: #343434;
    box-shadow: 0px 0.4px 0.4px #343434;
    position: absolute;
    top: 0;
    left: 0;
}


.filter-toggle__bar--first::before, .filter-toggle__bar--second::before, .filter-toggle.on .filter-toggle__bar--second::before {
    content: '';
    width: 1px;
    height: 6px;
    background: #343434;
    position: absolute;
    top: -2px;
    left: 5px;
    box-shadow: 0.4px 0px 0.4px #343434;
    transition: left 0.3s ease;
}

.filter-toggle__bar--second {
    top: auto;
    bottom: 0;
}

.filter-toggle__bar--second::before, .filter-toggle.on .filter-toggle__bar--first::before {
    left: 16px;
}


.filter-toggle__txt::after {
    content: attr(data-default);
}




.content-top::after {
    content: '';
    display: block;
    clear: both;
}




.filter-popup {
    position: fixed;
    top: var(--currentContTop);
    left: 0;
    width: 100%;
    height: calc(100% - var(--currentContTop));
    background: rgba(0, 0, 0, .4);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    -ms-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.filter-form {
    height: 100%;
    width: 100%;
}

.filter-popup__inner {
    background-color: #fff;
}

.filter-popup__top {
    display: none;
}

.font--17 {
    font-size: 17px;
}


.close-btn {
    overflow: hidden;
    position: relative;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
}


.filter-popup__content {
    display: flex;
    border-top: 1px solid #e0e0e0;
}


.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

@media (max-width: 1200px){
    .filter-popup__box {
        height: 335px;
    }
}
.filter-popup__box {
    width: 20%;
    padding: 24px 10px 7px 17px;
    height: 266px;
    overflow: auto;
    border-right: 1px solid #e0e0e0;
}

.float-left {
    float: left;
}


.filter-subject {
    pointer-events: none;
}
.filter-popup__box .filter-subject__txt {
    text-transform: capitalize;
}

.font--13 {
    font-size: 13px;
}


.filter-arrow {
    display: none;
}
.n-arrow--up {
    margin-top: -1px;
    transform: rotate(225deg) translate(-50%);
}

.n-arrow {
    display: block;
    width: 0;
    height: 0;
    border: solid #000;
    border-width: 0px 2px 2px 0;
    padding: 3.3px;
    position: absolute;
    top: 50%;
    right: 0;
    transition: all 0.6s ease;
    transform-origin: left;
}

.filter {
    padding-top: 29px;
}

@media (max-width: 1200px){
    .filter__list {
        flex-direction: column;
        flex-flow: row wrap;
        max-height: initial;
    }
}


.filter__list {
    display: flex;
    flex-wrap: wrap;
    max-height: 245px;
}


@media (max-width: 1200px){
    .filter__item {
        flex: 100%;
    }
}
@media (max-width: 1600px){
    .filter__item {
        flex: 50%;
    }
}
.filter__item--inline {
    /* display: inline-block; */
}
.filter__item {
    width: 50%;
    margin-bottom: 17px;
}

.filter-popup__box .filter__list li.filter__item .filter__label {
    text-transform: capitalize;
}

.n-label--radio {
    padding-left: 27px;
    line-height: 18px;
    height: auto;
}
.n-label {
    display: block;
    padding-left: 28px;
    line-height: 20px;
}
.font--12 {
    font-size: 12px;
}
.font--rg {
    font-weight: normal;
}

label {
    cursor: pointer;
    font-weight: normal;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}


.filter-popup__inner .filter__item input {
    height: 0;
    visibility: hidden;
}
input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.n-radio {
    position: absolute;
    top: 0;
    left: 0;
}

input {
    border: none;
    background: none;
    -webkit-appearance: none;
}
input {
    margin: 0;
    padding: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: top;
    letter-spacing: 0.05em;
}

input {
    line-height: normal;
}


.filter__item input[type="checkbox"] ~ .input-box-check-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}
.input-box-check-layer {
    position: relative;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 11px;
}
.filter__item input[type="checkbox"] ~ .input-box-check-layer:before {
    border-color: #cbcbcb;
    transition: border-color 0.3s ease;
}
.input-box-check-layer:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #2b2e34;
    z-index: 1;
}

input[type=checkbox] ~ .input-box-check-layer:after {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    margin-top: -7.5%;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0.66);
}

.input-box-check-layer:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 9px;
    height: 9px;
    background: #000;
    transform: translateZ(0);
    z-index: 2;
    opacity: 0;
    /* transition: opacity 0.15s ease-out; */
    transition: none;
}


@media (max-width: 1200px){
#lens_color-list .filter__list {
    max-height: initial;
}}
#lens_color-list .filter__list {
    max-height: 240px;
}

#lens_type-list .filter__item, #gender-list .filter__item, #materials-list .filter__item, #filter_sort-list .filter__item {
    width: 100%;
    flex: 100%;
}

.filter-popup__box.gender .filter__list li.filter__item, .filter-popup__box.materials .filter__list li.filter__item {
    display: block;
    max-width: 100%;
}



.filter__item:not(.filter__item--inline) {
    flex: 100%;
    /* display: block; */
}



.n-checkbox--radio {
    width: 18px;
    height: 18px;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
}
.n-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}


.filter-popup__bottom {
    border-top: 1px solid #e0e0e0;
    padding: 15px 20px;
}


.text-right {
    text-align: right;
}

.filter-btn {
    overflow: hidden;
    width: 153px;
    height: 44px;
    line-height: 42px;
    border: 1px solid #e0e0e0;
    color: #000;
    margin-left: 5px;
    border-radius: 8px;
}
.font--14 {
    font-size: 14px;
}


.filter-btn span {
    font-size: 14px;
}

.filter-btn--black {
    border-color: #000;
    background: #000;
    color: #fff;
}

.gm-component__spinner-container {
    position: relative;
}
.btn-ui--black {
    background: #000;
    color: #fff;
}



.gm-component__spinner-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gm-component__spinner.dark, .gm-component__spinner.dark::before, .gm-component__spinner.dark::after, .gm-component__spinner--dark, .gm-component__spinner--dark::before, .gm-component__spinner--dark::after {
    -webkit-animation-name: gm-component__spinner--dark;
    animation-name: gm-component__spinner--dark;
}
.gm-component__spinner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #acacac;
    color: #acacac;
    -webkit-animation: gm-component__spinner 0.9s infinite;
    animation: gm-component__spinner 0.9s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    transform: translate(-4px, -4px);
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.section__special {
    display: none;
    padding: 0 22px;
    margin: 15px 0 56px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

/* 필터 끝 */




/* 상품 전체보기 시작 */

#product-list {
    overflow: hidden;
    padding: 0 22px;
}
#product-list {
    position: relative;
}





사용자 에이전트 스타일시트
div {
    display: block;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: "GM_R", "Noto Sans", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    color: #343434;
}
body {
    font-family: "Basis Grotesque Pro", "AppleSDGothicNeo", "Malgun Gothic", "HY Dotum" !important;
    letter-spacing: 0em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: top;
    /* background: transparent; */
    word-break: break-all;
    -webkit-text-size-adjust: 100%;
}


.product-list__wrapper {
    overflow: hidden;
    margin: -45px -6px 0;
    padding-bottom: 200px;
}










@media (max-width: 1280px){
.product-list__wrapper li {
    width: 25%;
}}
.product-list__wrapper li {
    width: 20%;
    padding: 45px 6px 0;
    -webkit-transition: width 0.6s ease, margin 0.6s ease;
    -ms-transition: width 0.6s ease, margin 0.6s ease;
    transition: width 0.6s ease, margin 0.6s ease;
}

















.swiper-pointer-events {
    touch-action: pan-y;
}








element.style {
    transition-duration: 0ms;
    transform: translate3d(-248px, 0px, 0px);
}
.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}






















.product__image-wrapper {
    position: relative;
    background: #ededed;
}







.product__image-wrapper:not(.product__image-wrapper--video):before {
    content: '';
    display: block;
    padding-bottom: 135.5%;
}



.product__image-wrapper img, .product__image-wrapper video {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.product__image-wrapper img {
    max-height: 100%;
}


















.product__image-wrapper {
    position: relative;
    background: #ededed;
}







.product__image-wrapper:not(.product__image-wrapper--video):before {
    content: '';
    display: block;
    padding-bottom: 135.5%;
}



.product__image-wrapper img, .product__image-wrapper video {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.product__image-wrapper img {
    max-height: 100%;
}









.product-image-swiper:not(.swiper-container--mobile) .product-image-swiper__pagination {
    display: none;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.product-image-swiper__pagination {
    display: block;
    z-index: 5;
    bottom: 12px !important;
    left: 50% !important;
    width: 100%;
    transform: translateX(-50%);
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}


.product-image-swiper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.product-image-swiper__pagination .swiper-pagination-bullet-active {
    background-color: #333333;
}
.product-image-swiper__pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0 2px !important;
    border-radius: 2px;
    background-color: #e0e0e0;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
}


.product-image-swiper__button--prev {
    left: 0px;
}
.product-image-swiper__button {
    opacity: 0;
    visibility: hidden;
    width: 45px;
    height: 45px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    /* background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E); */
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}


.product-image-swiper__button--prev:before {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.product-image-swiper__button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.product__info {
    margin-top: 14px;
}

.product__spec {
    max-width: 93%;
}

.product__info .product__spec .product__link p {
    /* line-height: 18px; */
    /* min-height: auto; */
    /* margin: 0 0 5px; */
}

.product__blue-glasses {
    color: #449ce8;
    margin-bottom: 6px;
}


p {
    margin: 0 0 10px;
}



.product__info .product__spec .product__link .product__name {
    margin: 0 0 4px;
}

.product__name {
    margin-bottom: 4px;
}

.font--en.font--12 {
    font-size: 13px;
}
.product__price {
    min-height: 29px;
}


.font--en {
    font-family: "Unica77LLWeb", sans-serif;
    word-break: break-word;
}


.product__colors {
    font-size: 11px;
}


.color-count {
    color: rgba(181, 41, 41, 0.78);
}

.product__wish {
    width: 17px;
}

.product__wish svg path {
    stroke: #000;
    stroke-width: 2px;
}


.product__cart {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 126px;
    height: 44px;
    line-height: 42px;
    border: 1px solid #cecece;
    text-align: center;
    border-radius: 17px;
}



.product-list__wrapper:after {
    content: '';
    display: block;
    clear: both;
}



#product-list .product-list__loading {
    visibility: hidden;
}
.product-list__loading {
    position: absolute;
    /* top: 100%; */
    bottom: 0;
    left: 0;
    z-index: 5;
    min-height: 200px;
    width: 100%;
}




/* 상품 전체보기 끝 */

/* 공식사이트에서 복붙한 것 끝 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */ 

.product__wish.on svg path,
.product__wish:hover svg path {
   stroke: #ff0000;
   fill: #ff0000;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.float-right {
    float: right!important;
}
.float-right {
    float: right;
}
.float-right {
    float: right;
}
.product__wish {
    width: 17px;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}
button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
button {
    overflow: visible;
}
svg#레이어_1 {
    width: 20px;
    height: 20px;
    margin: 26.2px 0;
}
svg:not(:root) {
    overflow: hidden;
}
.product__wish svg path {
    stroke: #000;
    stroke-width: 2px;
}
svg#레이어_1 {
    width: 20px;
    height: 20px;
    margin: 26.2px 0;
}
svg:not(:root) {
    overflow: hidden;
}

svg:not(:root) {
    overflow: hidden;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.float-right {
    float: right!important;
}
.float-right {
    float: right;
}
.product__wish {
    width: 17px;
}
.float-right {
    float: right;
}
.float-right {
    float: right;
}
.float-right {
    float: right!important;
}
.float-right {
    float: right;
}
.product__wish {
    width: 17px;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

input[type=checkbox]:checked ~ .input-box-check-layer:after {
    opacity: 1;
}

.n-radio:checked ~ .n-checkbox--radio::after {
    background: #000;
}

.n-radio:checked ~ .n-checkbox--radio {
    border-color: #000;
}
.n-checkbox--radio {
    width: 18px;
    height: 18px;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
}
.n-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.n-radio:checked ~ .n-checkbox--radio::after {
    background: #000;
}
.n-checkbox--radio::after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    transition: background 0.3s ease;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* 내가 추가한 것 */
span.category__thumbnail:hover {
	border: solid 1px  #000 !important;
}


