@charset "UTF-8";

@media (max-width: 767px){
.contentswrap {
    padding-top: 60px !important;
}}
.contentswrap {
    border-top: 0 !important;
    margin-top: 0 !important;
}
.center_wrap {
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

* {
    box-sizing: border-box;
}

@media (max-width: 479px){
.login-container {
    margin: 18px auto 72px;
    padding: 0 15px;
    max-width: 100%;
}}
.login-container {
    max-width: 440px;
    margin: 100px auto 174px;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
*:before, *:after {
    box-sizing: border-box;
}
@media (max-width: 767px){
    .login-container .login-wrap, .login-container .sign-up-wrap {
        margin-bottom: 54px;
    }
}
.login-container .login-wrap, .login-container .sign-up-wrap {
    margin-bottom: 74px;
}

.login-wrap .login-title {
    margin-bottom: 28px;
}
.login-title {
    font-stretch: normal;
    font-style: normal;
    line-height: 25px;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.font--15 {
    font-size: 15px;
}
.font--bd {
    font-weight: 700;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
h2, .h2 {
    font-size: 30px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

input {
    border: none;
    background: none;
    -webkit-appearance: none;
}

input {
    margin: 0;
    padding: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: top;
    letter-spacing: 0.05em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.login-wrap .field-area {
    margin-bottom: 20px;
}
.select-box, .input-box {
    position: relative;
}
.input_box, .input-box {
    text-align: left;
}
.field-area {
    margin-bottom: 20px;
}
.line-height18 {
    line-height: 18px;
}

.field-name {
    margin-bottom: 9px;
}
.display_b {
    display: block;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}

label {
    cursor: pointer;
    font-weight: normal;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
@media (max-width: 414px){
    .input-box input[type="text"], .input-box input[type="password"], .input-box input[type="email"], .input-box input[type="tel"], .input-box input[type="number"], .input-box input[type="date"], .input-box input[type="search"], .input-box input[type="time"], .input-box input[type="url"] {
        line-height: 39px;
        height: 39px;
    }
}
.input-box input[type="text"], .input-box input[type="password"], .input-box input[type="tel"], .input-box input[type="email"], .input-box input[type="number"], .input-box input[type="date"], .input-box input[type="search"], .input-box input[type="time"], .input-box input[type="url"] {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 0 11.4px;
    background: #fff;
    font-size: 13px;
    line-height: 33px;
    height: 33px;
    transform: translateZ(0);
    border-radius: 0mm;
}

input[type=text] {
    border: 1px solid #000;
}
input[type=text] {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc;
}
.input-box-style {
    width: 100%;
    height: 40px !important;
    border: 1px solid #000;
    padding: 0 15px;
}
.padding_10 {
    padding: 10px;
}

.margin_b4 {
    margin-bottom: 4px;
}


input[type=password] {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc;
}


.login-container .input-box .show-pwd {
    top: auto;
    bottom: 8px;
}
.login-container .login-wrap button {
    margin: 0;
}
.input-box .show-pwd {
    position: absolute;
    top: 37px;
    right: 10px;
    width: 25px;
    height: 25px;
    color: #343434;
    font-size: 14px;
}
button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}

button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}

.viewpass.eye-slash {
    background: url(https://web-resource.gentlemonster.com/assets/img/icon/non_visible.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 12px;
    display: block;
    margin: 0 auto;
}

.text-left {
    text-align: left;
}

.margin_b35 {
    margin-bottom: 35px;
}


@media (max-width: 414px){
html[data-lang=kr] .checkout-atag-line {
    border-bottom: 1px solid #343434 !important;
    text-decoration: none !important;
}}
html[data-lang=kr] .checkout-atag-line {
    display: inline-block;
    border-bottom: 1px solid #343434 !important;
    text-decoration: none !important;
    width: auto;
}

.cursor_p {
    cursor: pointer;
}
html, body, a, a:hover {
    color: #343434;
}

a {
    text-decoration: none;
    color: #000;
}

a {
    background: transparent;
}

.login-wrap .flex-col, .sign-up-wrap .section-col {
    flex-direction: initial;
    display: block;
}
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
    justify-content: space-between;
}

.btn.font--kr, .font--kr.button {
    font-family: "SDGothicNeo";
}

.gm-component__spinner-container {
    position: relative;
}
.margin_b12 {
    margin-bottom: 12px;
}
.btn-black {
    /* border: none; */
    background: #000 !important;
    color: #fff;
}
.btn, .button {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.gm-component__spinner-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gm-component__spinner.dark, .gm-component__spinner.dark::before, .gm-component__spinner.dark::after, .gm-component__spinner--dark, .gm-component__spinner--dark::before, .gm-component__spinner--dark::after {
    -webkit-animation-name: gm-component__spinner--dark;
    animation-name: gm-component__spinner--dark;
}
.gm-component__spinner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #acacac;
    color: #acacac;
    -webkit-animation: gm-component__spinner 0.9s infinite;
    animation: gm-component__spinner 0.9s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    transform: translate(-4px, -4px);
}
.login-wrap .flex-col .btn.btn-kakao, .sign-up-wrap .section-col .btn.btn-kakao {
    order: -1;
}
@media screen and (max-width: 767px){
    .btn-kakao {
        background: #f7e14c url(https://web-resource.gentlemonster.com/assets/img/icon/kakao.svg) no-repeat 14px center !important;
    }
}
.btn-kakao {
    background: #f7e14c url(https://web-resource.gentlemonster.com/assets/img/icon/kakao.svg) no-repeat 17px center !important;
    color: #000;
    background-size: 15px 15px;
    box-shadow: none !important;
}

.margin_b80 {
    margin-bottom: 80px;
}

.sign-up-wrap .login-title {
    margin-bottom: 25px;
}

.sign-up-wrap .contents-default-text {
    margin-bottom: 30px;
}
.margin_b36 {
    margin-bottom: 30.5px;
}
.contents-default-text {
    font-stretch: normal;
    font-style: normal;
    line-height: 25px;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
}
.margin_b36 {
    margin-bottom: 36px;
}

.sign-up-wrap .section-col button {
    margin: 0;
}

.margin_t12 {
    margin-top: 12px;
}

/*search-order-wrap div 뒤에 div 앞 after요소 css*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}


/*modal css*/
.modal-box--open {
    transition-delay: 0ms !important;
    opacity: 1;
    visibility: visible;
}

.modal-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    transition: visibility 0ms, opacity 0.35s ease-out;
    transition-delay: 350ms, 0ms;
    visibility: hidden;
    opacity: 0;
}


.modal-box--open .modal-box__wrapper {
    transform: translateY(-50%);
}
.find-pwd-kr-modal .modal-box__wrapper, .find-pwd-en-modal .modal-box__wrapper, .find-pwd-confirm-modal .modal-box__wrapper, #soldout-on-checkout .modal-box__wrapper {
    max-width: 600px;
    width: calc(100% - 30px);
    zoom: initial;
}

.modal-box__wrapper {
    position: absolute;
    max-width: 610px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    background: #fff;
    top: 50%;
    transition: transform 0.35s ease-out;
    transform: translateY(-45%);
}

@media (max-width: 767px){
    .modal-box__wrapper .find-pwd-kr, .modal-box__wrapper .find-pwd-en, .modal-box__wrapper .find-pwd-confirm {
        padding: 45px 30px 50px;
        width: 100%;
        height: auto;
    }
}
.find-pwd-kr {
    width: 600px;
    /* height: 572px; */
    padding: 74px 80px 80px 80px;
}


.find-pwd-kr-modal .modal-box__wrapper .find-pwd-kr h2 {
    margin-bottom: 24px;
    line-height: 25px;
}
.find-pwd-kr-modal .modal-box__wrapper .find-pwd-kr p {
    margin-bottom: 31px;
    line-height: 25px;
}

p {
    margin: 0 0 10px;
}

.flex-row {
    flex-direction: row;
    justify-content: space-between;
}
.margin_b32 {
    margin-bottom: 32px !important;
}
.margin_b32 {
    margin-bottom: 32px;
}

@media screen and (max-width: 767px){
.input-find-pwd {
    width: 65% !important;
    /* font-size: 10px; */
}}
.input-find-pwd {
    width: 66% !important;
}


@media (max-width: 767px){
.modal-box__wrapper .find-pwd-kr .button-auth-number {
    height: 40px;
    font-size: 12px !important;
}}
@media screen and (max-width: 767px){
.button-auth-number {
    width: calc(35% - 10px) !important;
    padding: 0;
    font-size: 12px;
}}
.button-auth-number {
    width: calc(34% - 10px) !important;
}


@media screen and (max-width: 767px){
.modal-box .link {
    padding: 0 0 3px 0;
}}
.modal-box .link {
    display: inline-block;
    padding: 0 0 3px 1px;
}
.link {
    padding-bottom: 1px !important;
    border-bottom: 1px solid !important;
    cursor: pointer;
}

@media (max-width: 767px){
.modal-box__wrapper .social-desc {
    margin-top: 53px;
}}
.modal-box__wrapper .social-desc {
    margin-top: 73px;
}


.font--12 {
    font-size: 12px;
}
@media screen and (max-width: 767px){
    .modal-box__close.model-close-find-pwd {
        top: 51px;
        right: 29px;
    }
}

.modal-box__close.model-close-find-pwd {
    top: 80px;
    right: 79px;
}

@media (max-width: 767px){
    .modal-box__wrapper .model-close-find-pwd {
        top: 47px;
        right: 30px;
    }
}

.modal-box__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-image: url(https://web-resource.gentlemonster.com/assets/img/icon/closexbutton.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.modal-box__dim {
    position: absolute;
    z-index: 99;
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.find-pwd-confirm {
    width: 600px;
    /* height: 315px; */
    padding: 74px 80px 74px 80px;
}

.find-pwd-confirm-modal .modal-box__wrapper .find-pwd-confirm h2 {
    margin-bottom: 28px;
    line-height: 25px;
}
.find-pwd-confirm-modal .modal-box__wrapper .find-pwd-confirm p {
    margin-top: 28px;
    line-height: 25px;
}


b, strong {
    font-weight: bold;
}

@media screen and (max-width: 767px){
.reset-pwd-modal .modal-box__wrapper {
    width: 345px;
}}
.reset-pwd-modal .modal-box__wrapper {
    width: 450px;
}

@media screen and (max-width: 767px){
.reset-pwd {
    width: 345px;
    padding: 48px 35px;
}}
.reset-pwd {
    width: 450px;
    padding: 80px;
}
.word-break--kr, .word-break--kr * {
    word-break: keep-all;
}

.word-break, .word-break * {
    word-break: break-word;
}

/*예진 추가*/
.btn-black {
    /* border: none; */
    background: #000 !important;
    color: #fff !important;
}
.checkout-atag-line {
    display: inline-block;
    border-bottom: 1px solid #343434 !important;
    text-decoration: none !important;
    width: auto;
}
html, body, a, a:hover {
    color: #343434 !important;
}