@charset "UTF-8";

div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

@media (max-width: 767px){
.modal-box__wrapper .find-pwd-kr, .modal-box__wrapper .find-pwd-en, .modal-box__wrapper .find-pwd-confirm {
    padding: 45px 30px 50px;
    width: 100%;
    height: auto;
}}
.find-pwd-kr {
    width: 600px;
    /* height: 572px; */
    padding: 74px 80px 80px 80px;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

.find-pwd-kr-modal .modal-box__wrapper .find-pwd-kr h2 {
    margin-bottom: 24px;
    line-height: 25px;
}
.font--15 {
    font-size: 15px;
}
.font--bd {
    font-weight: 700;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
h2, .h2 {
    font-size: 30px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

.find-pwd-kr-modal .modal-box__wrapper .find-pwd-kr p {
    margin-bottom: 31px;
    line-height: 25px;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
div, p, a {
    word-break: keep-all;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
p {
    margin: 0 0 10px;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
    justify-content: space-between;
}
.margin_b32 {
    margin-bottom: 32px !important;
}
.margin_b32 {
    margin-bottom: 32px;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

input[type=text] {
    border: 1px solid #000;
}
input[type=text] {
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid #ccc;
}
@media screen and (max-width: 767px){
.input-find-pwd {
    width: 65% !important;
    /* font-size: 10px; */
}}
.input-find-pwd {
    width: 66% !important;
}
.input-box-style {
    width: 100%;
    height: 40px !important;
    border: 1px solid #000;
    padding: 0 15px;
}
.padding_10 {
    padding: 10px;
}
input {
    border: none;
    background: none;
    -webkit-appearance: none;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
input {
    margin: 0;
    padding: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: top;
    letter-spacing: 0.05em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

@media (max-width: 767px){
.modal-box__wrapper .find-pwd-kr .button-auth-number {
    height: 40px;
    font-size: 12px !important;
}}
@media screen and (max-width: 767px){
.button-auth-number {
    width: calc(35% - 10px) !important;
    padding: 0;
    font-size: 12px;
}}
.button-auth-number {
    width: calc(34% - 10px) !important;
}
.btn-black {
    /* border: none; */
    background: #000 !important;
    color: #fff;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

@media screen and (max-width: 767px){
.modal-box .link {
    padding: 0 0 3px 0;
}}
.modal-box .link {
    display: inline-block;
    padding: 0 0 3px 1px;
}
.link {
    padding-bottom: 1px !important;
    border-bottom: 1px solid !important;
    cursor: pointer;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
html, body, a, a:hover {
    color: #343434;
}
a {
    text-decoration: none;
    color: #000;
}
div, p, a {
    word-break: keep-all;
}
a {
    text-decoration: none;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
a {
    color: #000;
    text-decoration: none;
}
a {
    background: transparent;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

.find-pwd-kr-modal .modal-box__wrapper .find-pwd-kr p {
    margin-bottom: 31px;
    line-height: 25px;
}
@media (max-width: 767px){
.modal-box__wrapper .social-desc {
    margin-top: 53px;
}}
.modal-box__wrapper .social-desc {
    margin-top: 73px;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
div, p, a {
    word-break: keep-all;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
p {
    margin: 0 0 10px;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

.font--12 {
    font-size: 12px;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
div, p, a {
    word-break: keep-all;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

.btn.font--kr, .font--kr.button {
    font-family: "SDGothicNeo";
}
@media screen and (max-width: 767px){
.btn-kakao {
    background: #f7e14c url(https://web-resource.gentlemonster.com/assets/img/icon/kakao.svg) no-repeat 14px center !important;
}}
.btn-kakao {
    background: #f7e14c url(https://web-resource.gentlemonster.com/assets/img/icon/kakao.svg) no-repeat 17px center !important;
    color: #000;
    background-size: 15px 15px;
    box-shadow: none !important;
}
.btn, .button {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.font--13 {
    font-size: 13px;
}
.font--rg {
    font-weight: normal;
}
.font--kr {
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif;
    word-break: keep-all;
}
html, body, a, a:hover {
    color: #343434;
}
a {
    text-decoration: none;
    color: #000;
}
div, p, a {
    word-break: keep-all;
}
a {
    text-decoration: none;
}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, form, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    /* vertical-align: top; */
    background: transparent;
    word-break: break-all;
}
a {
    color: #000;
    text-decoration: none;
}
a {
    background: transparent;
}
* {
    box-sizing: border-box;
    line-height: normal;
}

@media screen and (max-width: 767px){
.modal-box__close.model-close-find-pwd {
    top: 51px;
    right: 29px;
}}
.modal-box__close.model-close-find-pwd {
    top: 80px;
    right: 79px;
}
@media (max-width: 767px){
.modal-box__wrapper .model-close-find-pwd {
    top: 47px;
    right: 30px;
}}
.modal-box__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    background-image: url(https://web-resource.gentlemonster.com/assets/img/icon/closexbutton.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
button {
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
}
button {
    background: transparent;
    padding: 0;
    border: 0;
    letter-spacing: 0em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    box-sizing: border-box;
    line-height: normal;
}


